<div class="qs mt-3">
    <h2 class="mb-3">Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h2>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <div class="btn btn-primary">Gửi</div>
</div>