<div class="vote mt-3 mb-3 pt-3">
    <h2 class="mb-3 mt-3 " id="qsBlock">{{qs}}</h2>
    <div class="row">
        <div class="btn btn-danger mt-3 col-6">50.00%  <i class="fas fa-thumbs-down"></i></div>
        <div class="btn btn-success mt-3 col-6">50.00%  <i class="fas fa-thumbs-up"></i></div>
    </div>
    <a class="btn btn-secondary " id="otherQs2" href="http://localhost:4000/">Câu hỏi khác</a>
</div>