body{
    background: #bebebe!important;
}
.qs{

position:  relative;

height: 400px;

}
    .qs h2{
        width:  80%;
        text-align:  center;
        margin: auto;
    }
    .qs textarea{
        width: 100%;
    }
    .qs .btn.btn-primary{
    }
    .ans{
    width: 80%;
    margin: auto;
    overflow:  hidden;
}

.ans h2 {
    text-align:  center;
}

.ans .btn.btn-danger {
    float:  left;
    margin-left: 15%;
}

.ans .btn.btn-success {
    float:  right;
    margin-right: 15%;
}
.otherButton{
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin:  auto;
}
.vote{
    width: 80%;
    margin: auto;
    overflow:  hidden;
    position:  relative;
    height: 300px;
}
.vote h2{
    text-align:center
}
.vote .btn.btn-secondary {width: 150px;text-align:  center;margin:  auto;display:  block;margin-top: 30px;}
.qs form{
    width: 80%;
    height:  100%;
    margin:  auto;
}