html,body{
	margin: 0;
	padding: 0;
}
.menu{
	background: #D5B0AC;
	color:#402E2A;
	font-weight: bold;
	display: flex;
	justify-content: center;
}
.menu span{
	width: 100px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
}
.menu span:hover{
	background: #9CD08F;
	color: #FFFFFF;
}


.menu.menu-vertical{
	margin-top: 50px;
	display: block;
	width: 100px;
}
.menu.menu-vertical span{
	display: block;
	border-bottom: 1px solid white;
}
